:root {
    --dark: #2f3542;
    --light: #f0f0d6;
    --nav-background: #24252a;
    --nav-color: #CDCED0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    position: relative;
    margin: 0;
    background: var(--light);
    color: var(--dark);

}

/* =================== */
/*    Navigation Bar   */
/* =================== */

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: var(--nav-background);
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 0 20px;
    font-family: 'Staatliches', cursive;
}

nav a {
    transition: color 0.5s ease-out;
    color: var(--nav-color);
}

nav a:hover {
    color: #3498db;
}

.nav-center {
    font-size: 1.5em;
    letter-spacing: 4px;
}

.nav-center a {
    margin: 0 25px;
}

.nav-right a {
    margin: 0 5px;
}

.logo svg {
    margin: 0 2px;
}

.logo a svg:nth-child(1) {
    color: lightseagreen;
    font-size: 40px;
}

.logo a svg:nth-child(2) {
    color: lightcoral;
    font-size: 36px;
}

.logo a svg:nth-child(3) {
    color: wheat;
    font-size: 30px;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100vw;
    background: var(--nav-background);
    color: var(--nav-color);
    bottom: 0;
    z-index: 1;
    padding: 0 20px;
    font-family: 'Staatliches', cursive;
}

/* =================== */
/*      Components     */
/* =================== */

.card {
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* width: 180px; */
    height: 220px;
    /* border: 0.5px solid var(--dark); */
    /* border-radius: 10px; */
    /* margin: 10px; */
    flex-basis: 25%;
}

.card * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card i {
    font-size: 80px;
}

.card-body {
    height: 70%;
}

.card-footer {
    height: 30%;
    font-size: 1.5em;
}

.card-footer i {
    font-size: 1.8em;
    margin: 0 2px;
}

#show-skills .card:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.card-image {
    opacity: 1;
    width: 95%;
    height: 95%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    flex-direction: column;
    color: var(--light);
    position: absolute;
}

.overlay svg,
.overlay h3 {
    margin: 0;
    padding: 0;
}

.card:hover .card-image {
    opacity: 0.1;
}

.card:hover .overlay {
    opacity: 1;
}

/* =================== */
/*     Page Sections   */
/* =================== */

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    padding-top: 100px;
}

.vertical-text {
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    align-self: center;
    border-bottom: 10px solid lightseagreen;
    color: var(--dark);
    flex-basis: 15%;
}

.horizontal-text {
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    align-self: flex-start;
    border-bottom: 10px solid lightseagreen;
    color: var(--dark);
    transform: translateX(10vw);
}

#show-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 70%;
    flex-grow: 2;
    padding-right: 15%;
}

#show-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 70%;
    flex-grow: 2;
    padding-right: 15%;
}

#show-projects .card {
    flex-basis: 30%;
    height: 300px;
    margin-right: 10px;
}

#show-projects .card-body {
    background: var(--dark);
}

#resume {
    justify-content: flex-start;
}

#resume-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 70%;
    flex-grow: 2;
    padding-right: 15%;
}

#resume-icons a {
    transition: color 0.4s;
    color: var(--dark);
}

#resume-icons a:hover {
    color: lightseagreen;
}

#resume-icons h1 {
    width: 300px;
    font-size: 3em;
    border: 5px solid lightseagreen;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Staatliches', cursive, 'Miriam Libre', sans-serif;
}

#contact {
    justify-content: flex-start;
}

#contact div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact div a {
    color: lightseagreen;
    margin: 30px 0;
    font-size: 80px;
}

#contact div a span {
    font-size: 45px;
    color: var(--dark);
}



#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    background: var(--dark);
    color: #F3EFBF;
    height: 100vh;
}

#about-img {
    align-self: center;
    width: 400px;
}

#about-img img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transform: translateX(-50vw);
    opacity: 0;
    animation: 2.5s slide forwards;
    color: #F3EFBF;
}

#about-img h1 {
    opacity: 0;
    animation: 2s fade-in 2.5s forwards;
}

#show-about {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

#about a {
    opacity: 0;
    font-size: 100px;
    color: #F3EFBF;
    animation: 2s fade-in 2.5s forwards;
}

#about-description {
    opacity: 0;
    /* transform: translateX(50vw); */
    width: 400px;
    font-size: 1.8em;
    animation: 2s fade-in 2.5s forwards;
    text-align: left;
}

#vertical-break {
    border-left: 5px solid #F3EFBF;
    height: 25em;
    opacity: 0;
    margin: 0 100px;
    animation: 2s fade-in 2.5s forwards;
}

/* =================== */
/*       Animations    */
/* =================== */

@keyframes slide {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* =================== */
/*      Responsive     */
/* =================== */

@media screen and (max-width: 1000px) {
    .card {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 550px) {
    .card {
        flex-basis: 100%;
    }
}


/* @media screen and (max-width: 1366px) {
    .section {
        height: 100vh;
        padding: 100px;
    }
} */

/* @media screen and (max-width: 920px) {
    nav {
        justify-content: center;
    }

    a {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        background: rgba(0,0,0,0.8);
    }
} */