html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    position: relative;
}

.card i {
    font-size: 5em;
}

.card:hover {
    box-shadow: 1px 1px black;
}

.section {
    height: 100vh;
    padding: 100px;
}

.section:nth-child(even) {
    background: rgba(0, 0, 0, 0.9); 
    color: wheat;
}

.light-section {
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.9);
}

#ido-img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#showSkills {
    padding-left: 11em;
}

#about {
   padding-top: 25vh;
}