@import url('https://fonts.googleapis.com/css?family=Alef:400,700|Raleway:400,700|Staatliches&subset=hebrew');

:root {
    --nav-background: #24252a;
    --nav-color: whitesmoke;
    --about-color: #F3EFBF;
    --dark: #2f3542;
    --light: #f0f0d6;
    --red: #eb4d4b;
    --yellow: #f6e58d;
    --green: #55efc4;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
    margin: 0;
    background: var(--dark);
    font-size: 16px;
}

*:focus,
*:active {
    outline: 0;
    outline: none;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: var(--dark);
}

/* =================== */
/*    Navigation Bar   */
/* =================== */

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: var(--nav-background);
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 0 20px;
    font-family: 'Staatliches', cursive;
}

nav a {
    transition: color 0.5s ease-out;
    color: var(--nav-color);
}

nav a:hover {
    color: #3498db;
}

.nav-center {
    font-size: 2rem;
    letter-spacing: 4px;
}

.nav-center a {
    margin: 0 1.5rem;
}

.nav-right {
    padding-top: 3px;
}

.nav-right a {
    margin: 0 5px;
    font-size: 3rem;
}

.logo svg {
    margin: 0 2px;
}

.logo a svg:nth-child(1) {
    color: var(--green);
    font-size: 3rem;
}

.logo a svg:nth-child(2) {
    color: var(--red);
    font-size: 2.5rem;
}

.logo a svg:nth-child(3) {
    color: var(--yellow);
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100vw;
    background: var(--nav-background);
    color: var(--nav-color);
    bottom: 0;
    z-index: 1;
    padding: 0 20px;
    font-family: 'Staatliches', cursive;
}

.navbar-toggle {
    position: absolute;
    top: 15px;
    right: 40px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

/* =================== */
/*      Components     */
/* =================== */

.card {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 14rem;
}

#skills img {
    width: 8rem;
}

#skills .card:hover {
    animation: shake 0.88s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#skills {
    padding-top: 50px;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    position: absolute;
}

.overlay svg {
    margin-bottom: 10px 0;
    padding: 0;
    font-size: 5em;
}

.overlay h3 {
    font-size: 1.5em;
    padding: 0;
}

.card:hover .card-image {
    opacity: 0.1;
}

.card:hover .overlay {
    opacity: 1;
}

/* =================== */
/*     Page Sections   */
/* =================== */

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 800px;
    padding: 8vh 20vh;
}

section:nth-of-type(odd) {
    background: var(--dark) !important;
    color: var(--light) !important;
}

section:nth-of-type(even) {
    background: var(--light) !important;
    color: var(--dark) !important;
}

section:nth-of-type(odd) .horizontal-text {
    border-color: var(--red) !important;
}

section:nth-of-type(even) .horizontal-text {
    border-color: var(--green) !important;
}

section:first-of-type {
    height: 100vh;
    padding: 0;
}

section .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    height: 90%;
}

section .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}


/* section .vertical-text {
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    border-bottom: 10px solid var(--green);
    flex-basis: 15%;
    padding-bottom: 10px;
} */

/* section .container .vertical-rule {
    border-left: 10px solid var(--green);
} */

section .horizontal-text {
    width: 50rem;
    align-self: flex-start;
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    border-bottom: 10px solid;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
}

/* About */

#landing .container {
    flex-direction: column;
    justify-content: flex-start;
}

#about {
    color: var(--about-color);
}

#about #image {
    flex-basis: 50%;
}

#about #image img {
    border-radius: 50%;
    height: 20em;
    width: 20em;
    opacity: 0;
    animation: 2.5s slide forwards;
}

#about #image h1 {
    opacity: 0;
    font-size: 2em;
    font-weight: bold;
    animation: 2s fade-in 2.5s forwards;
}

#landing {
    padding-top: 3rem;
}

#landing .container a {
    opacity: 0;
    font-size: 100px;
    color: var(--about-color);
    animation: 2s fade-in 2.5s forwards;
}

#about p {
    opacity: 0;
    flex-basis: 50%;
    font-size: 2em;
    animation: 2s fade-in 2.5s forwards;
    text-align: left;
    padding-left: 2em;
}

#about .vertical-rule {
    border-right: 10px solid var(--red);
    opacity: 0;
    animation: 2s fade-in 2.5s forwards;
}

/* Skills */

#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section-description {
    font-size: 1.5em;
    width: 60%;
    padding: 0;
    margin: 0 0 10px 0;
}

/* Show-Case */

#show-case .carousel .carousel-item {
    display: none;
    justify-content: center;
    align-items: center;
}

#show-case .carousel .carousel-item img {
    width: 50em;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0 30px;
    border-radius: 10px;
}

#show-case .carousel .active {
    display: flex !important;
}

#show-case .carousel-item:hover img {
    opacity: 0.3;
    cursor: pointer;
}

#show-case .carousel-item:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

#show-case button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
}

#show-case .arrow {
    font-size: 3em;
    transition: color 0.4s;
}

#show-case .arrow:hover {
    color: var(--red);
}

/* Resume */

#resume-anchor .container {
    align-items: flex-start;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
    height: 100%;
}

.resume-page {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.resume-active {
    display: flex !important;
}

.resume-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    font-size: 1.3rem;
}

.resume-title {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-start;
    color: var(--red);
}

.resume-block {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    word-break: keep-all;
}

#english-resume {
    text-align: left;
}

#hebrew-resume {
    text-align: right;
    direction: rtl;
    font-family: 'Alef', sans-serif;
}



.resume-year {
    flex-basis: 20%;

}

.resume-job {
    flex-basis: 80%;
}

#resume-btn {
    display: flex;
}

#resume button:hover {
    color: var(--red);

}

#resume button {
    transition: color 0.3s;
    color: var(--light);
    margin: 50px 35px;
    width: 18rem;
    height: 70px;
    background: inherit;
    font-size: 3em;
    border: 5px solid var(--red);
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Staatliches', cursive;
    cursor: pointer;
}

.resume-page::-webkit-scrollbar {
    width: 0.2em;
}

.resume-page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.resume-page::-webkit-scrollbar-thumb {
    background-color: var(--red);
    outline: 1px solid var(--red);
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--green);
  outline: 1px solid var(--green);
}

/* Contact */

#contact-anchor {
    max-height: 500px;
}

#contact a {
    color: var(--red);
    cursor: default;
    transition: color 0.4s;

}

#contact a:hover {
    color: var(--green);
    cursor: pointer;
}

#contact a svg {
    font-size: 6rem;
}

#contact a p {
    margin-top: 20px;
    font-size: 2rem;
}

/* =================== */
/*       Animations    */
/* =================== */

@keyframes slide {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Loader */

.ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.ripple div {
    position: absolute;
    border: 4px solid #dfc;
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


/* =================== */
/*      Responsive     */
/* =================== */

@media (min-width: 768px) {
    #js-navbar-toggle {
        display: none;
    }
}

/* smartphones */
@media (max-width: 768px) {

    html,
    body {
        font-size: 8px;
    }

    .resume-section {
        font-size: 1.8rem;
    }

    .nav-center {
        display: none;
        flex-direction: column;
        padding-top: 280px;
        width: 200px;
        border-radius: 30px;
        background-color: var(--nav-background);
    }
    
    .nav-center a {
        margin: 10px 0;
    }

    .nav-right {
        display: none;
    }

    #js-navbar-toggle {
        display: inline;
    }

    #about {
        flex-direction: column;
        justify-content: flex-start;
    }

    #landing {
        height: 300px;
    }

    section {
        height: 600px;
    }

    section .section-description {
        display: none;
    }

    #about-desc {
        display: none;
    }

    #about #image {
        border: none;
    }

    .card {
        flex-basis: 33%;
    }

    #contact {
        flex-direction: column;
    }

    #contact-anchor {
        height: 400px;
    }

    .nav-active {
        display: flex;
    }
}

/* small devices, tablets */
@media (min-width: 768px) and (max-width: 992px) {

    html,
    body {
        font-size: 12px;
    }  

    .card {
        flex-basis: 33%;
    }

    .nav-center {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }
    
    .nav-center a {
        margin: 0 1.2rem;
    }
    
    .nav-right a {
        margin: 0 2.5px;
        font-size: 2.5rem;
    }
    
    .logo svg {
        margin: 0 1.5px;
    }
    
    .logo a svg:nth-child(1) {
        color: var(--green);
        font-size: 2.5rem;
    }
    
    .logo a svg:nth-child(2) {
        color: var(--red);
        font-size: 2rem;
    }
    
    .logo a svg:nth-child(3) {
        color: var(--yellow);
        font-size: 1.5rem;
    }
}

/* medium devices */
@media (min-width: 992px) and (max-width: 1366px) {

    html,
    body {
        font-size: 12px;
    }

    /* .card {
        flex-basis: 25%;
    } */

    .contact-icons {
        flex-basis: 100%;
    }
}

/* large devices */
@media (min-width: 1366px) {
    .card {
        flex-basis: 25%;
    }

    #contact .contact-icons {
        flex-basis: 33%;
    }
}